h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    max-width: 780px;
    z-index: 1;
}

header {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/ea/Valle_y_cielo.JPG);
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#overlay {
    position: absolute; 
    width: 100%; 
    height: 500px; 
    background-color: rgba(0,0,0,0.4); 
    z-index: 0; 
  }


header nav{
    position: absolute;
    top: 10px;
    left: 0;
    bottom: 0;
    right:  10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    text-align: end;

}

#menu{
    display:none;
}

#lines .line{
    height: 3px;
    width: 25px;
    background-color: white;
}

@media (max-width: 700px){
    header nav{
        display: none;
    }

    #menu{
        position:absolute;
        display: flex;
        flex-direction: column;
        top: 10px;
        left: 10px;
    }

    #menu:hover{
        background-color: black;
        padding: 10px;
        top:0px;
        left: 0px;
    }   
    
    .line{
        height: 3px;
        width: 25px;
        background-color: white;
        margin: 2.5px 0;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        color: white;
        text-align: center;
        max-width: 780px;
        z-index: 1;
        font-size: 22.5px; /*perchè è il mio numero preferito*/
    }

    .number{
        font-size: inherit;
        font-weight: bold;
        font-family: 'Roboto',sans-serif;
        color:rgba(0,0,0,0.7);
        display: flex;
        flex-direction: row;
    }

}

#space{
    height: 60px;
}

#propic {
    display: flex;
    flex-direction:column;
    align-items: center;
    position: relative;
    margin-top:-70px;
    height: max-content;
}


#updates{
    font-style: italic;
    font-family: 'Lato', sans-serif;
    line-height: normal;
    color: lightblue;
}

#namepic{
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

nav a  {
    color:whitesmoke;
}

nav a:hover {
    color:burlywood;
}



footer {
    background-color: rgba(0,0,0,1);
    height: 100px;
}

footer h2 {
    color: aliceblue;
    font-family: 'Lato', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    position:  relative;
    top:10px;
    bottom: 0px;
    left: 0;
    right: 0;
    

}

#main{
    margin-left: auto;
    margin-right: auto;
    width: 66.67%;
    font-size: 40px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}


.element{
    display: flex;
    flex-direction: row;
}

.title {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    height:max-content;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    color:rgba(0,0,0,0.7);
}

.text{
    font-size: .5em;
    font-family: 'Roboto',sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}

.mark{
    font-style: italic;
    color: gray;
}

.number{
    font-size: inherit;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
    color:rgba(0,0,0,0.7);
    margin-right: 40px;
    margin-left: -70px;
    display: flex;
    flex-direction: row;
}


body{
    margin: 0;
}

.imgbox{
    margin-bottom: 120px;
}